[Desktop Entry]
Name=Fmessenger
Type=Application
Icon=fmessenger.png
Exec=qmlscene %u qml/Main.qml
Terminal=false
X-Ubuntu-Touch=true
X-Ubuntu-Splash-Color=white
X-Ubuntu-Supported-Orientations=portrait



